*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  block-size: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}
