:root.theme-light {
  --bg-color: #FFF1F7;
  --text-header-title-color: #353430;
  --text-title-color: #353430;
  --text-subtitle-color: #353430;
  --text-color: #353430;
  --text-buttom-color: #353430;
  --accent-color: #FF8DCB;
  --accent-border-color: #353430;
  --accent-border-color-transparent: rgba(50, 49, 45, 0.4);

с  --header-title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
:root {
  --bg-color: #FFF1F7;
  --text-header-title-color: #353430;
  --text-title-color: #353430;
  --text-subtitle-color: #353430;
  --text-color: #353430;
  --text-buttom-color: #353430;
  --accent-color: #FF8DCB;
  --accent-border-color: #353430;
  --accent-border-color-transparent: rgba(50, 49, 45, 0.4);
  --header-title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}
}

:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .rec {
    display: none;
}
}