.page {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  gap: 40px;
}

.header {
  display: grid;
  background-image: var(--bg-image);
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  min-height: 668px;
}

.rec {
  display: flex;
  position: absolute;
  right: 10px;
  justify-content: end;
  align-items: center;
  color: var(--accent-color);
  gap: 10px;
}

.rec__text {
  text-transform: uppercase;
  line-height: 1.39;
}

.rec__ellipse::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-radius: 50%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}
  
.decorated-zone::before {
  border-bottom: none;
  border-left: none;
  top: 0;
  right: 0;
}
  
.decorated-zone::after {
  border-top: none;
  border-right: none;
  bottom: 0;
  left: 0;
}

.header__title {
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title-color);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  margin-block-start: clamp(65px, 5vw, 273px);
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row: 3;
  color: var(--text-title-color);
  font-weight: 700;
  line-height: 1.3;
  background-color: var(--accent-color);
  margin-block-start: 32px;
  max-height: fit-content;
  max-width: 355px;
  width: 100%;
  box-sizing: border-box;
}

.header__theme-menu {
  grid-row: 1;
  align-self: end;
  justify-self: end;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  display: grid;
  place-items: center;
  min-height: 26px;
  padding: 0 13px;
  background-color: transparent;
  border: none;
  font: inherit;
  box-sizing: border-box;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button_type_auto:hover {
  border: 1px solid var(--accent-border-color);
}

.header__theme-menu-button_type_auto:focus-visible {
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_type_dark {
  line-height: 1;
  place-items: center;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_type_dark:hover {
  border: 1px solid var(--accent-border-color);
}

.header__theme-menu-button_type_dark:focus-visible {
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_type_light:hover {
  border: 1px solid var(--accent-border-color);
}

.header__theme-menu-button_type_light:focus-visible {
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.content-section {
  display: grid;
  gap: 50px;
}

.content__article {
  display: grid;
  gap: 20px;
}

.content__group {
  display: grid;
  gap: 10px;
}

.content__title {
  font-weight: 700;
  color: var(--accent-color);
  font-size: 18px;
}

.content__subtitle {
  font-weight: 700;
  color: var(--text-title-color);
  background-color: var(--accent-color);
}

.content__tip-title {
  background-color: var(--accent-color);
  color: var(--text-title-color);
}

.content__decor-word {
  text-shadow: 1px 1px 0 var(--accent-color);
}

.content__decor-word:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-shadow: none;
}

.content__decor-word:focus-visible {
  border: 1px solid var(--text-color);
}

.card {
display: grid;
grid-template-columns: 1fr;
gap: 10px;
margin-block-start: 50px;
}

.card__title {
  font-weight: 700;
  color: var(--text-title-color);
  background-color: var(--accent-color);
  font-size: 18px;
}

.card__image {
  height: 100%;
  width: 100%;
}

.footer {
  display: grid;
  place-items: center;
  min-height: 667px;
} 

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
}
  
.decorated-zone::before {
  border-bottom: none;
  border-left: none;
  top: 0;
  right: 0;
}
  
.decorated-zone::after {
  border-top: none;
  border-right: none;
  bottom: 0;
  left: 0;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title-color);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
}

@media (min-width: 768px) {
.page {
  padding: 20px 20px;
  gap: 60px;
}

.header {
  min-height: 1024px;
}

.header__title {
  font-size: 120px;
}

.header__text {
  margin-block-start: 162px;
  margin-inline-start: auto;
  max-width: 364px;
  width: 100%;
}

.header__theme-menu {
  align-self: center;
}

.content__article_theme {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: start;
}

.content__title_theme {
  grid-column: 1;
}

.content__group_theme {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 10px;
}

.content__article_reasons {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  align-items: start;
}

.content__title_reasons {
  grid-row: 1;
  overflow-wrap: break-word;
  max-width: clamp(180px, 30vw, 320px);
}

.content__article_focus {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: start;
}

.content__title_focus {
  grid-column: 1;
}

.content__group_focus {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 10px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: dense;
}

.card__title {
  grid-column: 1 / 4;
  grid-row: 1;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__image_sunset {
  grid-column: span 2;
}

.card__image_ice-cream {
  grid-row: span 2;
}

.card__image_tape {
  grid-row: span 2;
}

.card__image_street {
  grid-column: span 2;
}

.footer {
  min-height: 1024px;
}

.footer__title {
  font-size: 120px;
}
}

@media (min-width: 1024px) {
.page {
  padding: 20px 20px;
  gap: 50px;
}
  
.header {
  min-height: 768px;
}
  
.header__title {
  font-size: 157px;
}
  
.header__text {
  margin-block-start: 114px;
  margin-inline-start: auto;
  width: 491px; 
}
  
.header__theme-menu {
  grid-row: 1;
  align-self: start;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.content__article_theme {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: start;
}
  
.content__title_theme {
  grid-column: 1;
}
  
.content__group_theme {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 10px;
}
  
.content__article_reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
}


.content__title_reasons {
  grid-column: 1 / 4;
  grid-row: 1;
  justify-self: start;
  overflow-wrap: break-word;
}

.content__article_focus {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: start;
}
  
.content__title_focus {
  grid-column: 1;
}
  
.content__group_focus {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 10px;
  }
  
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: dense;
}
  
.card__title {
  grid-column: 1 / 4;
  grid-row: 1;
}
  
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.card__image_sunset {
  grid-column: span 2;
}
  
.card__image_ice-cream {
  grid-row: span 2;
}
  
.card__image_tape {
  grid-row: span 2;
}
  
.card__image_street {
  grid-column: span 2;
}
  
.footer {
  min-height: 768px;
}

.footer__title {
  font-size: 157px;
}
}