:root {
  --bg-color: #000028;
  --text-header-title-color: #000028;
  --text-title-color: #FF0070;
  --text-subtitle-color: #000028;
  --text-buttom-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-border-color: #FF0070;
  --header-title-color: #DB00FF;
  --shadow-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}